@model Dokaanah.ViewModels.shoppingCartViewModel

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-cart ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="@item.ImgUrl" class="img-fluid me-5 rounded-circle"
                                    style="width: 80px; height: 80px;" alt="">
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">@item.Name</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">$ @item.Price </p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border"
                                        aria-label="Minus">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input name="Quantity" type="text" class="form-control form-control-sm text-center border-0"
                                    value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border"
                                        aria-label="Plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">$@((item.Price * item.Quantity)?.ToString())  </p>
                            </td>
                            <td>
                                <button class="btn btn-md   mt-4" aria-label="delete product">
                                    <i class="fa-solid fa-circle-minus fa-xl"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-center maxWidthButtons">
            <a asp-controller="Home" asp-action="Shop" class="btn btn-dark text-nowrap cart-go-shopping-page" role="button">
                <i class="fa-regular fa-circle-left pe-1"></i>
                Continue Shopping
            </a>
            <button class="btn btn-dark text-nowrap cart-go-shopping-page " aria-label="Delete All">
                <i class="fa-solid fa-trash pe-1"></i>
                Delete All
            </button>
            <div class="cart-totalprice-page d-flex align-items-center">
                <p>Total Price : <strong>$@Model.TotalPrice?.ToString("C")</strong></p>
            </div>
        </div>
        <hr>
        <div class="d-grid col-6 mx-auto">
            <a asp-controller="CartProduct" asp-action="checkout"  class="go-check-out-btn btn btn-danger  text-nowrap">
                Checkout
            </a>
        </div>
    </div>
</div>