

<body>


   

    <!-- ====================               ===== BreadCrumb================================ --




    <!-- About Section Start-->


    <div class="aboutourstor container ">
        <div class="text-about wow slideInLeft" data-wow-duration="1s">
            <h1>about our <span>store</span> </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nostrum adipisci voluptas vel iure
                aliquam dolorum, nisi eos maxime iste facere voluptatibus dignissimos voluptatem fuga. Corporis,
                sint. Perspiciatis, iusto sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aut fugit dolor consequatur
                recusandae laudantium sapiente nemo accusamus magnam ratione alias nam rerum, vero odio saepe natus
                quas distinctio voluptas.
            </p>
            <button class="btn btn-primary">Shop Now</button>
        </div>
        <div class="image-about wow fadeIn" data-wow-delay="1s">
            <img src="~/images/slider/slidegirl2.jpg" alt="">
        </div>
    </div>
    </section>
    <!-- About Section End-->
    <!-- ========================= Team Section Start===========[12]===================== -->



    <section id="team" class=" wow">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3>Our Team</h3>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 custom-col">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/images/face1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Esraa</h4>
                                <span> Fronend Developer</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/images/face2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Menna Allah</h4>
                                <span>Backend Developer</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/images/face3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Mohamed</h4>
                                <span>Frondend Developer</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/images/face5.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Osama</h4>
                                <span>Backend Developer</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/images/face6.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ahmed</h4>
                                <span>Backend Developer</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/images/face4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Nada</h4>
                                <span>Instructor</span>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section  -->
   
</body>