@{
    ViewData["Title"] = "Contact Us";
}

<body>


    
    <!-- =========================================Contact Section Start=================================================== -->

    <section class="dokkanaH-contacts-8">
        <div class="contacts-9 section-gap py-5">
            <div class="container ">
                <div class="row top-map">
                    <div class="col-lg-6 partners">
                        <div class="cont-details">
                            <h1 class="hny-title mb-0">Get in <span>Touch</span></h1>
                            <p class="mb-5">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti molestiae
                                illo officiis? Dolore, perspiciatis consectetur est commodi laboriosam quia facere odio
                                debitis velit fugiat quo iure saepe provident fugit doloremque.
                            </p>
                            <h3 class="margin-top">
                                <span class="texthny">Call Us : </span> <a href="tel:+(20)10 20 3054">
                                    +(20)10 20
                                    3054
                                </a>
                            </h3>
                            <h3>
                                <span class="texthny">Email : </span> <a href="dokkanah@example.com">
                                    dokkanah@dokkannah.com
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6 map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sCanada%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
                                frameborder="0" style="border:0" allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-content-9 form-bg-img">
            <div class="layer section-gap py-5">
                <div class="container py-lg-5">
                    <div class="form">
                        <h3 class="hny-title two text-center">fill out the form.</h3>
                        <form action="https://sendmail.dokkanaHayouts.com/submitForm" class="mt-md-5 mt-4" method="post">
                            <div class="input-grids">
                                <input type="text" name="Dokkanah" id="dokkanaHName" placeholder="Name">
                                <input type="email" name="dokkanaHSender" id="dokkanaHSender" placeholder="Email" required="" />
                                <input type="subject" name="dokkanaHSubject" id="dokkanaHSubject" placeholder="Subject" required="">
                            </div>
                            <div class="input-textarea">
                                <textarea name="Dokkanah" id="Dokkanah" placeholder="Message" required=""></textarea>
                            </div>
                            <button type="submit" class="btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>